<div class="form-group row">

  <div>
    <b><%= question.content %></b>
  </div>

  <%= f.fields_for :questions, question, include_id: false, index: question.id do |q| %>
    <%= q.fields_for :answer, current_user.answers.find_or_initialize_by(question: question, document: @document) do |a| %>
      <%= a.text_field :string_value, class: "form-control" %>
    <% end %>
  <% end %>

</div>
