    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Need a simple way to label documents?</h1>
        <p>
        We can help! Using this platform, you'll be able to ask any number of questions about a set of documents, whether they're words, images, pdfs, or something else, and are provided with a simple interface for people to answer those questions. Instead of going through some other, more laborious process to get that information, with us, you can quickly get everything you need done fast.
        </p>
        <%= link_to "Sign Up >>", new_user_registration_path, class:"btn btn-primary btn-lg"%>
      </div>
    </div>
