    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Classifying country music songs is an art</h1>
        <p>Hello all. I'm in need of some training data while trying to classify country music topics. If you're confused about what you're doing here, look at <a href="https://bigishdata.com/2016/11/01/classifying-country-music-songs-is-an-art-getting-training-data/">this blog post</a> for some information. Then click the button below, sign up, and help me out.</p>
        <%= link_to "Sign Up >>", new_user_registration_path, class:"btn btn-primary btn-lg"%>
      </div>
    </div>
